<% if @dateresults.length == 0 %>
    <h3> No such Course is offered at this date </h3>
  <% else %>
  <% @dateresults.each do |result| %>
    <h3><%= result.date.strftime("%m/%d/%y") %> </h3>
    <h3><%= link_to result.topic, result %> </h3>
  <% end %>
<% end %>
