<% if @results.length == 0 %>
    <h3> No such Course is offered at this time </h3>
  <% else %>
  <% @results.each do |result| %>
    <h3><%= link_to result.topic, result %> </h3>

    
  <% end %>
<% end %>

