<% if @tag_search.length == 0 %>
    <h3> No such Course is offered at this time </h3>
  <% else %>
  <% @tag_search.each do |result| %>
    <h3><%= link_to result.topic, result %> </h3>
  <% end %>
<% end %>

